{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            {% for flash_error in app.flashes('verify_email_error') %}
              <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            <h1 class="text-center mb-4">Register</h1>
            {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="inputName" class="form-label">Name</label>
                  {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control', 'id': 'inputName', 'autocomplete': 'name'}}) }}
                  {{ form_errors(registrationForm.name) }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="inputEmail" class="form-label">Email</label>
                  {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'id': 'inputEmail', 'autocomplete': 'email'}}) }}
                  {{ form_errors(registrationForm.email) }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="inputPhoneNumber" class="form-label">Phone number</label>
                  {{ form_widget(registrationForm.phoneNumber, {'attr': {'class': 'form-control', 'id': 'inputPhoneNumber', 'autocomplete': 'tel'}}) }}
                  {{ form_errors(registrationForm.phoneNumber) }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="inputPassword" class="form-label">Password</label>
                  {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'id': 'inputPassword', 'autocomplete': 'new-password'}}) }}
                  {{ form_errors(registrationForm.plainPassword.first) }}
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 mb-4">
                  <label for="inputRepeatPassword" class="form-label">Repeat Password</label>
                  {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'id': 'inputRepeatPassword', 'autocomplete': 'new-password'}}) }}
                  {{ form_errors(registrationForm.plainPassword.second) }}
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">
                Register
              </button>

            {{ form_end(registrationForm) }}

            <div class="text-center">
              <p>Already have an account? <a href="{{ path('app_login') }}">Click here to login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
{% endblock %}
